networks:
  forgejo:
    name: forgejo
    external: false

services:
  runner:
    image: 'data.forgejo.org/forgejo/runner:11'
    container_name: 'runner1'
    user: "0:0"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./runner1_data:/data
    networks:
      - forgejo
    restart: 'unless-stopped'
    command: >
      sh -c '
          apk add --update nodejs npm docker
          apk add --update docker openrc
          apk add --update sudo curl
          rc-update add docker boot
        if [ ! -f /data/.runner ]; then
          forgejo-runner register \
            --instance https://codeberg.org \
            --token ${RUNNER_TOKEN} \
            --name "docker-runner-1" \
            --labels "ubuntu-latest" \
            --no-interactive
        fi
        
        if [ ! -f /data/config.yml ]; then
          forgejo-runner generate-config > /data/config.yml
          sed -i "s/labels: \[\]/labels: [\"ubuntu-latest\"]/" /data/config.yml
          sed -i "s/privileged: false/privileged: true/" /data/config.yml
          sed -i "/options: \"\"/c\  options: \"--privileged -v /var/run/docker.sock:/var/run/docker.sock\"" /data/config.yml
          sed -i "s/network: \"\"/network: \"host\"/" /data/config.yml
        fi
        
        forgejo-runner daemon --config /data/config.yml'
        
  runner2:
    image: 'data.forgejo.org/forgejo/runner:11'
    container_name: 'runner2'
    user: "0:0"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./runner2_data:/data
    networks:
      - forgejo
    restart: 'unless-stopped'
    command: >
      sh -c '
          apk add --update nodejs npm docker
          apk add --update docker openrc
          apk add --update sudo curl
          rc-update add docker boot
        if [ ! -f /data/.runner ]; then
          forgejo-runner register \
            --instance https://codeberg.org \
            --token ${RUNNER_TOKEN} \
            --name "docker-runner-2" \
            --labels "ubuntu-latest" \
            --no-interactive
        fi
        
        if [ ! -f /data/config.yml ]; then
          forgejo-runner generate-config > /data/config.yml
          sed -i "s/labels: \[\]/labels: [\"ubuntu-latest\"]/" /data/config.yml
          sed -i "s/privileged: false/privileged: true/" /data/config.yml
          sed -i "/options: \"\"/c\  options: \"--privileged -v /var/run/docker.sock:/var/run/docker.sock\"" /data/config.yml
          sed -i "s/network: \"\"/network: \"host\"/" /data/config.yml
        fi
        
        forgejo-runner daemon --config /data/config.yml'