name: flexapp

on:
  push:
    # branches:
    #   - 'main'
    tags:
      - 'v*'
  # pull_request:
    # branches:
    #   - '**'
  workflow_dispatch:
    inputs:
      tags: 
        description: 'testing a tag'
        required: true
        type: string

jobs:
  once:
    name: Create GitHub release
    runs-on: 'ubuntu-latest'
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            Automated Release by GitHub Action CI
          draft: false
          prerelease: false

  build:
    needs: once
    strategy:
      matrix:
        #platform: [ubuntu-latest, windows-latest, macos-latest]
        platform: [ubuntu-latest, windows-latest]
    
    runs-on: ${{ matrix.platform }}
        
    steps:
      - uses: actions/checkout@v3

      # - name: install Rust
      #   if: matrix.platform != 'ubuntu-latest'
      #   uses: dtolnay/rust-toolchain@stable

      - name: Package install Ubuntu
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt update \
          && sudo apt install libdbus-1-dev pkg-config \
          zlib1g libevent-dev \
          build-essential curl wget libssl-dev \
          libgtk-3-dev libsoup-3.0-dev libjavascriptcoregtk-4.1-dev \
          librsvg2-dev libfuse2 libappindicator3-dev libwebkit2gtk-4.1-dev \
          patchelf
        
      - name: Run build
        run: |
          zig build -Doptimize=ReleaseSafe

      - name: Upload Release Asset (x64) Ubuntu
        id: upload-release-asset-x64
        if: matrix.platform == 'ubuntu-latest'
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.once.outputs.upload_url }}
          asset_path: ./zig-out/bin/flexapp
          asset_name: flexapp
          asset_content_type: application/executable

      - name: Upload Release Asset (x64) Windows
        id: upload-release-asset-x64-windows
        if: matrix.platform == 'windows-latest'
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.once.outputs.upload_url }}
          asset_path: ./zig-out/bin/flexapp.exe
          asset_name: flexapp.exe
          asset_content_type: application/executable

      - name: Upload Release Asset (x64) MacOS
        id: upload-release-asset-x64-macos
        if: matrix.platform == 'macos-latest'
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.once.outputs.upload_url }}
          asset_path: ./zig-out/bin/flexapp
          asset_name: flexapp_darwin
          asset_content_type: application/executable
