name: testing
on:
  # push:
  #   branches:
  #     - 'main'
  pull_request:
    branches: [ main ]

jobs:
  test:
    strategy:
      matrix:
        optimize: [Debug, ReleaseSmall, ReleaseSafe, ReleaseFast]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2
          cache-key: ${{ matrix.optimize }}
      - run: zig test src/root.zig -O${{ matrix.optimize }}